name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  build:
    runs-on: self-hosted
    steps:
    - name: Pull Docker image
      run: sudo docker pull ${{ secrets.DOCKERHUB_REPO }}:latest
    - name: Delete Old docker container
      run: sudo docker rm -f parkhub-container || true
    - name: Inject env file
      run: |
        echo "API_VERSION=${{ secrets.API_VERSION }}" > .env
        echo "API_PORT=${{ secrets.API_PORT }}" >> .env
        echo "POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}" >> .env
        echo "AUTH_SECRET_KEY=${{ secrets.AUTH_SECRET_KEY }}" >> .env
        echo "API_RELOAD=${{ secrets.API_RELOAD }}" >> .env
        echo "AUTH_REFRESH_SECRET_KEY=${{ secrets.AUTH_REFRESH_SECRET_KEY }}" >> .env
        echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
        echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
        echo "POSTGRES_DATABASE=${{ secrets.POSTGRES_DATABASE }}" >> .env
        echo "POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}" >> .env
    - name: Run Docker Container
      run: sudo docker run -d -p 8080:8080 --name parkhub-container --env-file .env ${{ secrets.DOCKERHUB_REPO }}
